head
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(http-equiv='X-UA-Compatible', content='ie=edge')
	meta(name='description', content='JobPedia - A Job Portal listing different jobs for job seekers and helping companies get good employees.')
	title JobPedia - A Job Portal
	link(href='/images/favicon.png', rel='shortcut icon', type='image/png')
	link(href='/style.css', rel='stylesheet', type='text/css')